# Telegram
BOT_TOKEN=8815126968:AAG1qqPhTsTZEaDOG_VEbm-T8LpH3vequdg


# Google Sheets (мәліметтер осында сақталады)
# credentials.json файлын жобаның түбір папкасына қойыңыз (немесе жолын өзгертіңіз)
GOOGLE_CREDENTIALS_PATH=credentials.json
# Таблица URL-і: https://docs.google.com/spreadsheets/d/<ОСЫ_ЖЕР>/edit
GOOGLE_SHEET_ID=1LvL3JeEgQcESnO_NuyBuR7RvryND3_Xb7TpnCcCP33U
GOOGLE_SHEET_NAME=Sheet1
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe

# OCR: "tesseract" немесе "easyocr"
OCR_ENGINE=tesseract
OCR_LANGUAGES=rus+eng

# Database (заказдардың қайталанбауын тексеру үшін)
DATABASE_PATH=orders.db

# Logging
LOG_LEVEL=INFO
