# Telegram
BOT_TOKEN=8840442455:AAHTDrgAz2YerjFkGjIwZeLcUJUsg2lOMbQ


# Google Sheets (мәліметтер осында сақталады)
# credentials.json файлын жобаның түбір папкасына қойыңыз (немесе жолын өзгертіңіз)
GOOGLE_CREDENTIALS_PATH=credentials.json
# Таблица URL-і: https://docs.google.com/spreadsheets/d/<ОСЫ_ЖЕР>/edit
GOOGLE_SHEET_ID=1LvL3JeEgQcESnO_NuyBuR7RvryND3_Xb7TpnCcCP33U
GOOGLE_SHEET_NAME=Sheet1
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe

# OCR: "tesseract" немесе "easyocr"
OCR_ENGINE=tesseract
OCR_LANGUAGES=rus+eng
ADMIN_LOGIN=admin
ADMIN_PASSWORD=Arbuz

# Database (заказдардың қайталанбауын тексеру үшін)
DATABASE_PATH=orders.db
MIN_PACKAGES_FOR_AUTO_ACCEPT=5

# Logging


# Logging
LOG_LEVEL=INFO
